.is-hidden {
  display: none;
}

body {
  background-color: #ffffff;

  padding: 50px;
}

img {
  max-width: 100%;

  display: block;

  box-shadow: 5px 5px 25px;
}

.breed-select {
  max-width: 250px;
  align-items: center;
}

.cat-info {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}

.box {
  max-width: 500px;
  padding: 20px;
  text-align: center;
  box-shadow: 5px 5px 25px;
}
